<!DOCTYPE html>
<html>
  <head>
    <title>TrelloClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/main_nav' %>
  <main role="main" class="container">
    <%= yield %>
  </main><!-- /.container -->

  <%= javascript_pack_tag 'application' %>
  </body>
</html>
